cache=/root/.npm

registry=https://packages.aliyun.com/61ee8bb874c3f3b55073ffd0/npm/npm-registry/
always-auth=true
//packages.aliyun.com/61ee8bb874c3f3b55073ffd0/npm/npm-registry/:_authToken=eyJleHBpcmVzSW4iOjE3NDExNjk3NzM3ODgsInVzZXJuYW1lIjoiZmxvdyJ9.879d91f11beef70673a97b5b84d27782

sass_binary_site="https://npmmirror.com/mirrors/node-sass/"
phantomjs_cdnurl="https://cdn.npmmirror.com/binaries/phantomjs"
electron_mirror="https://cdn.npmmirror.com/binaries/electron/"
sqlite3_binary_host_mirror="https://foxgis.oss-cn-shanghai.aliyuncs.com/"
chromedriver_cdnurl="https://cdn.npmmirror.com/binaries/chromedriver"
