cache=/root/.npm

registry=https://packages.aliyun.com/61ee8bb874c3f3b55073ffd0/npm/npm-registry/
always-auth=true
//packages.aliyun.com/61ee8bb874c3f3b55073ffd0/npm/npm-registry/:_authToken=eyJleHBpcmVzSW4iOjE3NDA2MzAzMjA2MTEsInVzZXJuYW1lIjoiZmxvdyJ9.4dde81fcc300c7494e08d1f1a3e139e7

sass_binary_site="https://npmmirror.com/mirrors/node-sass/"
phantomjs_cdnurl="https://cdn.npmmirror.com/binaries/phantomjs"
electron_mirror="https://cdn.npmmirror.com/binaries/electron/"
sqlite3_binary_host_mirror="https://foxgis.oss-cn-shanghai.aliyuncs.com/"
chromedriver_cdnurl="https://cdn.npmmirror.com/binaries/chromedriver"
