@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./variables.module.scss";
@import "./transition.scss";
@import "./sidebar.scss";

// 滚动条
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  opacity: 0;

  &:hover,
  &:active,
  &:focus {
    opacity: 1;
    transition: opacity 340ms ease-out;
  }
}

/*滚动条的轨道*/
::-webkit-scrollbar-track {
  background-color: #ffffff;
}

/*滚动条里面的小方块，能向上向下移动*/
::-webkit-scrollbar-thumb {
  background-color: rgba(144, 147, 153, 0.3);
  transition: 0.3s background-color;
  border-radius: 5px;
  border: 1px solid #f1f1f1;

  &:hover {
    background-color: rgba(144, 147, 153, 0.5);
  }
}

/*边角，即两个滚动条的交汇处*/
::-webkit-scrollbar-corner {
  background-color: #ffffff;
}
